*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana;
}
html, body{
    background-color: #002339;
    color: white;
}
.container{
    height: 100%;
    width: 90%;
    max-width: 700px;
    margin: 8%;
}
.display{
     width: 100%;
     margin-top: 50px;
     margin-bottom: 30px;
     background: #fff;
     color: #333;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 12px;
     border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display img{
    width: 60px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 18px;
}
.container button img{
    width: 35px;
}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    border-radius: 5px;
    cursor: pointer;
}